/* START FONT EMBEDS */
/*$fontFolder: '../assets/fonts/';

@font-face {
    font-family: 'komika_textregular';
    src: url($fontFolder + 'komtxt__-webfont.eot');
    src: url($fontFolder + 'komtxt__-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontFolder + 'komtxt__-webfont.woff') format('woff'),
         url($fontFolder + 'komtxt__-webfont.ttf') format('truetype'),
         url($fontFolder + 'komtxt__-webfont.svg#komika_textregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$arial: 'Arial', 'Helvetica', sans-serif;
$impact: 'Impact', 'Impact5', 'Charcoal6', sans-serif;
$komika: 'komika_textregular', sans-serif;
$garamond: 'Garamond', "Times New Roman", serif;*/

/* END FONT EMBEDS */