// ----------------------------------------------------------------------------------------------------
// 
// RESET
// 
// ----------------------------------------------------------------------------------------------------

div {
    position: relative;
}

.clearfix {
    content:"";
    display:table;
    clear:both;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}