// ----------------------------------------------------------------------------------------------------
// 
// VARIABLES
// -colours
// -z index
// 
// ----------------------------------------------------------------------------------------------------

$min-width:  1063px;
$min-height: 725px;

// COLOURS

$black:        #000000;
$white:        #FFFFFF;
$light-grey:   #D4D4D4;
$grey:         #8C897E;
$grey-alt:     #54524C;
$dark-grey:    #181818;
$tan:          #787156;
$tan-alt:      #645F49;
$tan-alt-2:    #6D664A;
$light-yellow: #F0EBD8;

// Z INDEX
$z-one:   0;
$z-two:   2;
$z-three: 5;